$white:#fff;
$black: #001219;
$midnight-green:#1B242F;
$darkcyan: #0A9396;
$tiffany-blue: #94D2BD;
$lightgrey:#D3D3D3;
$grey:#333333;
$vanilla: #E9D8A6;
$gamboge: #EE9B00;
$alloy-orange: #CA6702;
$rust: #BB3E03;
$rufous: #AE2012;
$auburn:#9B2226;