@use "colors" as *;
@use "navi";
@use "footer";
@use "./header" as *;


@mixin flex-box ($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-page {
  @include flex-box(column);
  width: 100%;
  min-height:100vh;
  overflow: hidden;
  & .me {
    @include flex-box(column);
    width: 100%;
    height: fit-content;
    padding: 2em 0;
    box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.1);
    animation: title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    & .photo {
      width: 20em;
      height: 20em;
      border-radius: 0.5em;
      box-shadow: 5px 12px 25px -6px rgba(0, 0, 0, 0.72);
    }
    & h2 {
      margin: 1em;
      color: $midnight-green;
    }
    & p {
      margin: 0.5em;
      color: $grey;
      text-align: center;
    }
    & a {
      text-decoration: none;
      color: darkcyan;
      &:hover {
        color: $alloy-orange;
      }
    }
  }
  & .offers {
    @include flex-box(column);
    width: 100%;
    height: max-content;
    & .properties{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.1);
        & .property {
          @include flex-box(column);
            width:calc(50% - 1rem);
            height:fit-content;       
            animation: flip-2-ver-right-1 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            & .property-title{
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background-color:$alloy-orange;
                box-shadow: 20px 18px 46px -29px rgba(0,0,0,0.52);
                & h2 {
                    text-align: center;
                    line-height:5em;
                    color: $white;
                }
                
            }
            & > p {
                text-align: center;
                color: $grey;
                width: 80%;
                margin:0.5em;

            }
        }
        & .delay-2 {
          animation-delay: .2s;
        }
        & .delay-3 {
          animation-delay: .4s;
        }
        & .delay-4 {
          animation-delay: .6s;
        }
        
        
    }
    & .capacities {
      @include flex-box(column);
      width:100%;
      padding: 1em 0;
      height: fit-content;
      gap: 1em;
      box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.1);
      & > div {
        width: 80%;
        height: 2em;
        display: flex;
        justify-content: space-between;
        border: 2px solid $darkcyan;
        border-radius: 5px;
        background-color: $alloy-orange;
        & > div {
          background-color: $alloy-orange;
          & > div {
            width: 4em;
            height: 100%;
            text-align: center;
            line-height: 200%;
            background-color: $midnight-green;
            color: $white;
          }
        }
        & > span {
          width: 10%;
          line-height: 200%;
          background-color: $lightgrey;
          flex-grow: 1;
          text-align: center;
        }
        & .html {
          width: 80%;
          animation: width-html 1s ease-in-out 1;
        }
        & .css {
          width: 70%;
          animation: width-css 1s ease-in 1;
        }
        & .python {
          width: 60%;
          animation: width-python 1s ease-in 1;
        }
        & .c-lang {
          width: 50%;
          animation: width-c-lang 1s ease-in 1;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    &.about-page {
      min-height:calc(100vh - 13em);
      flex-direction: row;
      & .me {
        width: 50%;   
        flex-grow: 1; 
        box-shadow:none;
      }
      & .offers {
        width: 50%;
        & .capacities {
          width: 100%;
        }
      }
    }
  }
}

@keyframes flip-2-ver-right-1 {
    0% {
        -webkit-transform: translateX(100%) rotateY(-180deg);
              transform: translateX(100%) rotateY(-180deg);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
              opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0);
        transform: translateX(0) rotateY(0);
-webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        opacity: 1;
    }
  }
@keyframes width-html {
  0% {
    width: 4em;
  }
  100% {
    width: 80%;
  }
}
@keyframes width-css {
  0% {
    width: 4em;
  }
  100% {
    width: 70%;
  }
}
@keyframes width-python {
  0% {
    width: 4em;
  }
  100% {
    width: 60%;
  }
}
@keyframes width-c-lang {
  0% {
    width: 4em;
  }
  100% {
    width: 50%;
  }
}
