@use "background";

$black:#0B090A;
$darkgrey:#161A1D;
$darkred:#660708;
$red:#A4161A;
$lightred:#BA181B;
$grey:#B1A7A6;
$lightgrey:#D3D3D3;
$smokwhite:#F5F3F4;
$white:#ffffff;


*
{
    font-family: 'Raleway', sans-serif;
}
.text-container{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    div {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span{
        display: inline;
    }
    .type{
        display: flex;
        flex-direction: column;
    }
    .text{
        color:white;
        letter-spacing: 0.5rem;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
    .name{
        margin-top: 2rem;
        >.text{
            color:$red;
        }
    }
    .job{
        margin: 2rem 0;

    }
    .start{
        color:$grey;
        background: transparent;
        width:15rem;
        height: 3rem;
        margin-top: 1rem;
        padding : 0.2rem 1rem;   
        border: 2px solid $darkred;
        letter-spacing: 5px;
        font-size: 1rem;
        font-weight: bold;
        cursor:pointer;
        i{
            margin-left: 1rem;
        }
         &:hover{
            color:$white;
            border-color:$lightred;
            transition: 0.5s;
             i{
                color:$white;
                transform:rotate(90deg);
                transition: 0.5s;
            }
        }
    }
    @media screen and (min-width:700px) {
        .text-container >.type{
            flex-direction: row;
        }
        
    }
}