.navbar {
  background-color: #1B242F;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 1000;
  padding-right: 4rem;
  box-shadow: 5px 12px 25px -6px rgba(0, 0, 0, 0.72);
  animation-name: nav-drop;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
.navbar .side-menu {
  display: none;
  height: 100%;
  width: 2rem;
}
.navbar .side-menu:checked ~ .nav {
  max-height: 100%;
}
.navbar .side-menu:checked ~ .hamb > .hamb-line {
  background: transparent;
}
.navbar .side-menu:checked ~ .hamb > .hamb-line::before {
  transform: rotate(-45deg);
  transition: 0.5s;
  top: 0;
}
.navbar .side-menu:checked ~ .hamb > .hamb-line::after {
  transform: rotate(45deg);
  transition: 0.5s;
  top: 0;
}
.navbar .hamb {
  cursor: pointer;
  float: right;
  padding: 25px 20px;
}
.navbar .hamb .hamb-line {
  background-color: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 2em;
}
.navbar .hamb .hamb-line::before, .navbar .hamb .hamb-line::after {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  height: 100%;
}
.navbar .hamb .hamb-line::before {
  top: 10px;
}
.navbar .hamb .hamb-line::after {
  top: -10px;
}
.navbar .nav {
  width: 100%;
  max-height: 0;
  position: fixed;
  top: 3rem;
  background-color: #333333;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.navbar .nav .menu {
  list-style-type: none;
}
.navbar .nav .menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar .nav .menu li::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  border-radius: 2px;
  background: #0A9396;
  transition: width 0.3s;
}
.navbar .nav .menu li:hover::after {
  width: 100%;
}
.navbar .nav .menu li a {
  padding: 0 20px;
  text-decoration: none;
  line-height: 275%;
  letter-spacing: 5px;
  font-size: 1em;
  display: block;
  height: 100%;
  color: #fff;
  box-shadow: 0px 16px 24px -30px #94d2bd;
  text-transform: uppercase;
}
.navbar .nav .menu li a:hover {
  color: #CA6702;
  transition: color 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .navbar .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .nav {
    max-height: none;
    position: relative;
    top: 0;
    width: 50%;
    background-color: transparent;
  }
  .navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar .menu li {
    height: 100%;
  }
  .navbar .hamb {
    display: none;
  }
}

@keyframes nav-drop {
  0% {
    transform: translateY(-100px);
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 6em;
  gap: 1em;
  border-top: 5px solid #0A9396;
  background-color: #1B242F;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1em;
}
footer .social-media a {
  color: transparent;
}
footer .social-media .media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  background-color: #0A9396;
  border-radius: 10px;
}
footer .social-media .media i {
  color: #fff;
  font-size: 2em;
}
footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  letter-spacing: 2px;
  color: #CA6702;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  margin-top: 3em;
}
.header .title {
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: #1B242F;
  animation: title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.header .title::after {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 5px;
  border-radius: 2px;
  background: #0A9396;
}

@keyframes title {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}
main .slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
main .slider-container .slider-wrapper {
  position: relative;
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
  margin-top: 1em;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 0.5em;
}
main .slider-container .slider-wrapper .slides {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /*  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
  border-radius: 0.5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
main .slider-container .slider-wrapper .slides::-webkit-scrollbar {
  /*  Web-kit */
  width: 0;
  height: 0;
}
main .slider-container .slider-wrapper .slides .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex: 1 0 100%;
  scroll-snap-align: start;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
main .slider-container .slider-wrapper .slides .slide h2 {
  color: #333333;
  display: none;
}
main .slider-container .slider-wrapper .slides .slide p {
  width: 50%;
  color: #333333;
  text-align: center;
  display: none;
}
main .slider-container .slider-wrapper .slides .slide button {
  display: none;
  color: #CA6702;
  background: transparent;
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border: 2px solid #CA6702;
  letter-spacing: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
main .slider-container .slider-wrapper .slides .slide button:hover {
  color: #fff;
  background-color: #CA6702;
  transition: all 0.5s;
}
main .slider-container .slider-wrapper .slides .slide:hover {
  background-image: none !important;
}
main .slider-container .slider-wrapper .slides .slide:hover h2 {
  display: block;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
main .slider-container .slider-wrapper .slides .slide:hover p {
  display: block;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
main .slider-container .slider-wrapper .slides .slide:hover button {
  display: block;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
main .slider-container .slider-wrapper .slides #slide-1 {
  background-image: url(./Bilder/bild1.jpg);
}
main .slider-container .slider-wrapper .slides #slide-2 {
  background-image: url(./Bilder/bild2.png);
}
main .slider-container .slider-wrapper .slides #slide-3 {
  background-image: url(./Bilder/bild3.jpg);
}
main .slider-container .slider-wrapper .slides #slide-4 {
  background-image: url(./Bilder/bild4.png);
}
main .slider-container .slider-wrapper .slides #slide-5 {
  background-image: url(./Bilder/bild5.jpg);
}
main .slider-container .slider-wrapper .slides #slide-6 {
  background-image: url(./Bilder/bild6.jpg);
}
main .slider-container .slider-wrapper .slides #slide-7 {
  background-image: url(./Bilder/bild7.jpg);
}
main .slider-container .slider-wrapper .slides #slide-8 {
  background-image: url(./Bilder/bild8.jpg);
}
main .slider-container .slider-wrapper .slides #slide-9 {
  background-image: url(./Bilder/bild9.jpeg);
}
main .slider-container .slider-wrapper .slides #slide-10 {
  background-image: url(./Bilder/bild10.png);
}
main .slider-container .slider-wrapper .slides .slider-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 0.5em;
  row-gap: 0.3rem;
  position: absolute;
  top: 20%;
  left: 1em;
  transform: translateX(-50%);
  z-index: 1000;
}
main .slider-container .slider-wrapper .slides .slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #CA6702;
  opacity: 0.5;
  transition: opacity ease 250ms;
}
main .slider-container .slider-wrapper .slides .slider-nav a:hover {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=portfolio.css.map */